/target/
**/*.rs.bk
.DS_Store
**/*.o
/.libs/
mesalink-config
libmesalink.la
mesalink/options.h
mesalink/version.h
examples/client/client
examples/0rtt_client/0rtt_client
examples/server/server
examples/client/.libs/
examples/0rtt_client/.libs/
examples/server/.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.in
config.in~
config.log
config.status
configure
examples/*/.dirstamp
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
stamp-h1
