[submodule "rustls"]
	path = rustls
	url = ssh://icode.baidu.com:8235/baidu/mesalink/rustls
	branch = mesalink
[submodule "sct"]
	path = sct
	url = ssh://icode.baidu.com:8235/baidu/mesalink/sct
	branch = mesalink
